<style>


h1 {
  color: navy;
  margin-left: 20px;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: black;
  text-align: center;
}

    headerr 
    {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100;
    background-color: grey;
    color: black;
    text-align: left; 
    }

    <body style="background-color:powderblue;">

.body {background-color: grey;}


.mainbodyofpage {background-color: grey;
color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    
}
.mainheader {background-color: grey;
color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
}


</style>