<style>

.mainheader {background-color: grey;
color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-size: cover;
    margin: auto;
}

.mainbodyofpage {background-color: grey;
color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-size: auto;
    margin: auto;
        
}

body {background-color: grey;
font-family: 'Helvetica', 'Arial', sans-serif;

}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width 100%;
    color: black;
    text-align: center;
    background-size: auto;
        
}
a{
color:blue
}
</style>